# Binaries
redactsecure
redactsecure-decrypt
redactsecure-encrypt
redactsecure.exe
redactsecure-decrypt.exe
redactsecure-encrypt.exe
redactsecure-*
*.exe
build/
git.txt
*.xlsx
*.pptx
*.docx
*.enc


# Go build artifacts
*.o
*.a
*.so
# do not allow bin build directory
bin/*

# Test files
test/*
test/*_modified.*
test/*.enc
test/*.decrypted
test_extracted/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
